body{
    background-image: url('https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--primary-color);
    font-family: sans-serif;
    text-align: center;
    color: white;

}
#about{
    background: transparent;
            
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 80%;
    margin-inline: auto;
    max-width: 600px;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 18px;

    transition: all 0.3s ease;

    /*
    background-color: #00000070 ;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-inline: auto;
    border-radius: 15px;
    */
}
    
img{
    width: 10%;
    margin-top: 20px;
}
p{
    text-align: justify;
    text-indent: 30px;
    
}
/*
#typewriter{
    display: flex;
    justify-content: center;
    
}
#typewriter a{
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(22) forwards, blink 1s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
*/