@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: filter .3s;
}

body{
    background-image: url('../imagens/backg2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    color: white;
}
#about{
    color: white;
}
#container{
    background-color: #000000de;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-inline: auto;
}

img{
    width: 30%;
    border-radius: 50%;
}

h1, h2, p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

h1{
    font-size: 18px;
    font-weight: bold;
}

h2{
    font-size: 16px;
    opacity: 0.9;
}

.social{
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid white;
    width: 100%;
}

a:hover{
    filter: brightness(.8);
}

#email{
    color: white;
}
#email:hover{
    text-decoration: underline;
}